---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedinIcon from '../icons/Linkedin.astro';
import SocialPill from '../components/SocialPill.astro';
import GithubIcon from '../icons/Github.astro';
import MailIcon from '../icons/Mail.astro';
import Experience from "../components/Experience.astro";
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../icons/Briefcase.astro';
import CodeIcon from '../icons/Code.astro';
import Projects from "../components/Projects.astro"
import AboutmeIcon from "../icons/Aboutme.astro"
import Aboutme from "../components/Aboutme.astro"
import CertificateIcon from "../icons/Certificate.astro"
import Certificado from '../components/Certificado.astro';
---

<Layout 
title="Portafolio de Jack - Desarrollador y Programador Web"
description="Especialista en crear aplicaciones con Java en su framework Spring.">
	<main class="px-2">
		<SectionContainer class="py-44 pb-24" id="top">
		<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-1 lg:pb-4">Hola, soy Jack 
		<a href="https://www.linkedin.com/in/jacksilveriocieza/" class="flex justify-center items-center"
		target="_blank"
		rel="noopener"><Badge addClass="bg-blue-500 text-white font-semibold">Disponible para trabajar</Badge></a>
		</h1>
		<h2 class="text-sm lg:text-xl text-wrap mt-4 max-w-[700px]">
			<span></span> <span class="text-yellow-200/80">Grado de Bachiller en Ingeniería de Sistemas.</span>   +1 Año de experiencia en desarrollo de software, con Java y Spring Boot, enfocado en el desarrollo backend de aplicaciones escalables. Estoy en constante aprendizaje y busco nuevos desafíos donde pueda aportar soluciones tecnológicas eficientes y continuar creciendo en el campo del desarrollo de software.
		</h2>

		<nav class="flex gap-3 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/jacksilveriocieza/">
					<LinkedinIcon class="size-4 md:w-6 md:h-6"/>LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/JackSilverioC">
					<GithubIcon class="size-4 md:w-6 md:h-6"/>GitHub
				</SocialPill>
				<SocialPill href="mailto:silveriocieza.jackanibal@gmail.com">
					<MailIcon class="size-4 md:w-6 md:h-6"/>silveriocieza.jackanibal@gmail.com
				</SocialPill>
		</nav>

		</SectionContainer>
		<SectionContainer id="experience">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7"/>
				Experiencia laboral
			</h2>
			<Experience/>
		</SectionContainer>
		<SectionContainer id="projects">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7"/>
				Proyectos
			</h2>
			<Projects/>
		</SectionContainer>
		<SectionContainer id="about">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<AboutmeIcon class="size-7"/>
				Sobre mí
			</h2>
			<Aboutme/>
		</SectionContainer>
		<SectionContainer id="certify">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<CertificateIcon class="size-7"/>
				Certificaciones
			</h2>
			<Certificado/>
		</SectionContainer>
	</main>
</Layout>
