---
import ExperienceItem from "../components/ExperienceItem.astro";
const EXPERIENCE = [
    {
        date: "marzo 2024 - Actualidad · Barranca, Lima, Perú",
        title: "Desarrollador de aplicaciones con Java Spring",
        empresa: "Freelancer",
        description: "Desarrollar y mantener API REST. Integración de la aplicación con bases de datos relacionales: MySQL y PostgreSQL. Implementación de medidas de seguridad como autenticación y autorización utilizando Spring Security. Documentación clara del código y las API.",
        // link:"#",
        active: "Actual"
    },
    {
        date: "julio 2023 - marzo 2024 · Supe, Lima, Perú",
        title: "Auxiliar de información",
        empresa: "Agrokasa · Jornada completa",
        description: "Gestión de documentos. Soporte en tareas administrativas. Reportes de producción. Programas y avance de producción. Reporte de disponibilidad de máquina Maf Roda. Análisis de datos. Visualización de indicadores con Power BI.",
        // link:"#",
    },
    {
        date: "diciembre 2022 - abril 2023 · Lima, Perú",
        title: "Administrador de seguridad de la información",
        empresa: "Estrategic Partners S.A.C · Contrato de prácticas",
        description: "Análisis de riesgos de seguridad de la información en el área de TI. Definición de las políticas y un plan de seguridad para la gestión de la seguridad de la información en la empresa.",
        
    },
]
---


<ol class="relative border-s border-gray-200 ml-3">                  
    {
        EXPERIENCE.map((experiencia)=>(
            <li class="mb-10 ms-4">
                <ExperienceItem {...experiencia}/>
            </li>
        ))
    }
</ol>

