---
import ExperienceItem from "../components/ExperienceItem.astro";
const EXPERIENCE = [
    {
        date: "enero 2023 - actualidad · Lima, Perú",
        title: "Java & Spring Boot",
        empresa: "Freelance (Self employed) · Autónomo",
        description: "Estudio y desarrollo de aplicaciones backend utilizando Java y Spring Boot. Implementación de APIs RESTful y microservicios para proyectos personales. Pruebas unitarias y manejo de bases de datos con MySQL y MongoDB. Configuración de entornos de desarrollo y despliegue con Spring Boot, gestionando dependencias con Maven. Aplicación de principios de seguridad con Spring Security y mejores prácticas en el desarrollo de aplicaciones escalables.",
        // link:"#",
        active: "Actual"
    },
    {
        date: "mayo 2024 - agosto 2024 · Supe, Lima, Perú",
        title: "Analista de sistemas",
        empresa: "Escienza",
        description: "Creación de Historias de Usuario (HU) usando el lenguaje Gherkin en la plataforma de Jira. Conexión por SSH al servidor remoto usando perfiles Tabby, con la IP asociada en Twingate para levantar servicios del sistema EDSuite. Análisis y modificación de registros contables por HeidiSQL de los clientes del sistema de facturación electrónica Nubox360. Análisis y modificación del código PHP en CodeIgniter 3 del sistema EDSuite PTS. Análisis y manipulación de la base de datos MySQL del sistema EDSuite por DBeaver.",
        // link:"#",
    },
    {
        date: "abril 2024 - mayo 2024 · Supe, Lima, Perú",
        title: "Soporte técnico",
        empresa: "Escienza",
        description: "Asistencia remota sobre el sistema RESTSuite, EDSuite y Nubox360. Instalación de hardware/servidor con Ubuntu Server 22.04. Instalación de cableado estructurado. Gestión de incidencias utilizando Jira Management.",
        // link:"#",
    },
    {
        date: "julio 2023 - marzo 2024 · Supe, Lima, Perú",
        title: "Auxiliar de información",
        empresa: "Agrokasa · Jornada completa",
        description: "Gestión de documentos. Soporte en tareas administrativas. Reportes de producción. Programas y avance de producción. Reporte de disponibilidad de máquina Maf Roda. Análisis de datos. Visualización de indicadores con Power BI.",
        // link:"#",
    },
    {
        date: "diciembre 2022 - abril 2023 · Lima, Perú",
        title: "Administrador de seguridad de la información",
        empresa: "Estrategic Partners S.A.C · Contrato de prácticas",
        description: "Análisis de riesgos de seguridad de la información en el área de TI. Definición de las políticas y un plan de seguridad para la gestión de la seguridad de la información en la empresa.",
        
    },
]
---


<ol class="relative border-s border-gray-200 ml-3">                  
    {
        EXPERIENCE.map((experiencia)=>(
            <li class="mb-10 ms-4">
                <ExperienceItem {...experiencia}/>
            </li>
        ))
    }
</ol>

